
<label for="type">
	<f:translate key="tx_migrate_domain_model_migration.type" />
</label><br />
	<f:form.textfield property="type" /><br />
<label for="version">
	<f:translate key="tx_migrate_domain_model_migration.version" />
</label><br />
	<f:form.textfield property="version" /><br />
<label for="extensionKey">
	<f:translate key="tx_migrate_domain_model_migration.extension_key" />
</label><br />
	<f:form.textfield property="extensionKey" /><br />
<label for="scriptPath">
	<f:translate key="tx_migrate_domain_model_migration.script_path" />
</label><br />
	<f:form.textfield property="scriptPath" /><br />
<label for="query">
	<f:translate key="tx_migrate_domain_model_migration.query" />
</label><br />
	<f:form.textarea property="query" cols="40" rows="15" /><br />
<label for="applied">
	<f:translate key="tx_migrate_domain_model_migration.applied" />
</label><br />
	<f:form.checkbox property="applied" value="1" /><br />