{namespace em=Enet\Migrate\ViewHelpers}
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Migrations</h1>

    <div class="row">
        <div class="col-md-12">
            <table cellpadding="0" cellspacing="0" border="0" class="tx_migrate table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        <f:translate key="tx_migrate_domain_model_migration.uuid"/>
                    </th>
                    <th>
                        <f:translate key="tx_migrate_domain_model_migration.driver"/>
                    </th>
                    <th>
                        <f:translate key="tx_migrate_domain_model_migration.version"/>
                    </th>
                    <th>
                        <f:translate key="tx_migrate_domain_model_migration.extension_key"/>
                    </th>
                    <th>
                        <f:translate key="tx_migrate_domain_model_migration.applied"/>
                    </th>
                    <th>&nbsp;</th>
                </tr>
                </thead>

                <tbody>
                <f:for each="{migrations}" as="migration">
                    <tr style="{f:if(condition: '{migration.hidden} > {migration.applied}', then: 'opacity: 0.42;', else: '')}">
                        <td>{migration.uuid}</td>
                        <td>{migration.driver}</td>
                        <td>{migration.version}</td>
                        <td>{migration.extensionKey}</td>
                        <td class="{f:if(condition: '{migration.applied}', then: 'success', else: 'warning')}">
                            {f:if(condition: '{migration.applied}', then: 'Yes', else: 'No')}
                        </td>
                        <td>
                            <em:be.link.editRecord object="{migration}"/>
                            <!--<em:be.link.newRecord className="Enet\Migrate\Domain\Model\Migration" />-->
                            <!--<em:be.link.deleteRecord object="{migration}" />-->
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </div>

    <f:if condition="{notAppliedMigrations -> f:count()}">
        <div class="row">
            <div class="col-md-8">
                <f:link.action action="applyAllPackageMigrations" class="btn btn-default">
                    <f:translate key="tx_migrate_domain_model_migration.action.applyAllPackageMigrations"/>
                </f:link.action>
            </div>
        </div>
    </f:if>

</f:section>