
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Migration</h1>

<f:flashMessages />

<table  class="tx_migrate" >
	<tr>
		<th><f:translate key="tx_migrate_domain_model_migration.type" /></th>
		<th><f:translate key="tx_migrate_domain_model_migration.version" /></th>
		<th><f:translate key="tx_migrate_domain_model_migration.extension_key" /></th>
		<th><f:translate key="tx_migrate_domain_model_migration.script_path" /></th>
		<th><f:translate key="tx_migrate_domain_model_migration.query" /></th>
		<th><f:translate key="tx_migrate_domain_model_migration.applied" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{migrations}" as="migration">
		<tr>
			<td><f:link.action action="show" arguments="{migration : migration}"> {migration.type}</f:link.action></td>
			<td><f:link.action action="show" arguments="{migration : migration}"> {migration.version}</f:link.action></td>
			<td><f:link.action action="show" arguments="{migration : migration}"> {migration.extensionKey}</f:link.action></td>
			<td><f:link.action action="show" arguments="{migration : migration}"> {migration.scriptPath}</f:link.action></td>
			<td><f:link.action action="show" arguments="{migration : migration}"> {migration.query}</f:link.action></td>
			<td><f:link.action action="show" arguments="{migration : migration}"> {migration.applied}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{migration : migration}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{migration : migration}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Migration</f:link.action>
</f:section>