
<table class="tx-migrate" >
	<tr>
		<td>
			<f:translate key="tx_migrate_domain_model_migration.type" />
		</td>
		<td>
			{migration.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_migrate_domain_model_migration.version" />
		</td>
		<td>
			{migration.version}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_migrate_domain_model_migration.extension_key" />
		</td>
		<td>
			{migration.extensionKey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_migrate_domain_model_migration.script_path" />
		</td>
		<td>
			{migration.scriptPath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_migrate_domain_model_migration.query" />
		</td>
		<td>
			{migration.query}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_migrate_domain_model_migration.applied" />
		</td>
		<td>
			{migration.applied}
		</td>
	</tr>
</table>